@use '../util/' as u;

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    
    font-family: u.$fontFamily;
    font-weight: u.$fontWeight;
    color: u.$grey;
    background-color: u.$primary;
}