@use '../util' as u;

.logo {
    width: clamp(1rem, 10%, 1.5rem); 
    height: auto;
}

.x-img, .o-img {

    width: clamp(1.5rem, 30%, 2.5rem); 
    height: auto;

    
}

.checked-icon {
    background-color: u.$grey;

}
