@use '../util' as u;

.main-page {

    height: 100vh;
    display: grid;
    grid-template-rows: 10% 1fr;

    &__upper-section {
        display: flex;
        justify-content: space-around;
        align-items: center;

        margin-top: 2rem;

        @media (min-width: 37.5em) {
            justify-content: space-evenly;
        }

        &__logo {
            display: flex;
            align-items: center;
            gap: .3rem;

        }

        &__players-turn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;

            padding: .5em 2em;

            background-color: u.$secondary;
            border-radius: .6rem;
            box-shadow: 0 10px 10px rgba(0, 0, 0, .3);

            img {
                height: 1.3rem;
                width: 1.3rem;
            }

            h4 {
                font-size: 1.1rem;
                letter-spacing: u.$letterSpacing;
            }

            @media (min-width: 37.5em) {
                padding: .8em 3.2em;

                h4 {
                    font-size: 1.2rem;
                }
            }
        }

        &__reset-btn {

            width: 3rem;
            height: 3rem;

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: u.$grey;
            border-radius: .6rem;

        }
    }

    .game-board-wrapper {
        display: grid;
        place-items: center;
    }

    &__game-board {
        min-height: 19.375rem;
        width: 19.375rem;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1.5rem;

        place-content: center;


        &__cell {
            display: grid;
            place-items: center;

            background-color: u.$secondary;
            border-radius: 5px;
            outline: 2px solid rgba(215, 214, 214, 0.2);
            box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
            padding: 1em 1em;

            img {
                filter: brightness(1.3);
            }
        }

        @media (min-width: 37.5em) {
            min-height: 25rem;
            width: 25rem;
            gap: 1.7rem;
        }
    }
}