@use '../util' as u;

.init-section {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.game-initializer {
    width: min(90%, 31.5rem);
    min-height: 50%;

    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    gap: 2.5rem;

    &__logo {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: .4rem;
    }

    &__player-picker {
        min-height: 70%;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        background-color: u.$secondary;
        border-radius: .8rem;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 10px 0px;

        &__header {
            font-size: 1.1rem;
            letter-spacing: u.$letterSpacing;
        } 

        &__input {
            width: 80%;
            min-height: 40%;
            padding: .5rem;

            display: grid;
            grid-template-columns: 1fr 1fr;

            background-color: u.$primary;
            border-radius: 1rem;

            &__x-icon, &__o-icon  {
                display: grid;
                place-items: center;
                border-radius: 1rem;                
            }   
        }

        &__info {
            text-transform: uppercase;
            letter-spacing: u.$letterSpacing;
            color: rgba(255, 255, 255, 0.4);
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
    }
}


