.main-page {
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 1fr;

    &__upper-section {
        border: 2px solid red;
        display: flex;
        // justify-content: ;

        &__logo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .3rem;
        }

        &__players-turn {
            display: grid;
            place-items: center;
            grid-template-columns: 1fr 1fr;
        }

        &__reset-btn {
            
        }
    }

    &__game-board {
        border: 2px solid blue;
    }
}